<div class="aboutMeHeader">About Me</div>
<div class="aboutMeBody">Hey, my name is Owen Salter. 
    I'm a passionate and driven software engineer.
    
</div>
<div class="aboutMeBody">Currently I work as a barista and a landscaper, but I aim to rejoin the professional software industry 
    after</div>
<div class="aboutMeBody"> I was laid off. Thanks for checking out my page!</div>
<div class="aboutMeBody">I primarily use Typescript and Scala for my development. Scala is a particular joy to work with</div>
<div class="aboutMeBody">as I love the specificity functional programming allows, while still allowing the use of effects.</div>

