.card{
    aspect-ratio: 1/1.6;
    cursor: pointer;
    position: relative;
    pointer-events: none; 
}

.card-gradient,
.card-dots,
.card-image-container,
.card-button{
    align-self: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-gradient{
    background: linear-gradient(130deg, transparent 0% 45%, var(--themeColour) 66%);
    background-position: 0% 0%;
    background-size: 300% 300%;
    transition: background-position 400ms;
    z-index: 1;
}

.card-dots{
    background: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-size: 3vmin 3vmin;
    transition: background-position 700ms ease;
    background-position: 10% 0;
    z-index: 2;
}

.card-image-container{
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}

.card-image{
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    aspect-ratio: 1;
    filter: brightness(0) invert(1);
}

.card-button{
    background: transparent;
    pointer-events: auto;
    z-index: 4;
}

.card-title,
.card-subtitle {
    font-weight: 400;
    margin: 0px;
    z-index: 10;
}

.card-title{
    transition: color 300ms ease, background-color 300ms ease;
    color: var(--themeColour);
    background-color: transparent;
}
.card-subtitle{
    color:  white;
}

.card:hover > .card-gradient{
    background-position: 100% 100%;
}


.card:hover > .card-dots{
    background-position: -10% 0;
}

.card-button:hover > .card-title {
    color:white;
    background-color: var(--themeColour);
}