.card{
    aspect-ratio: 1/1.6;
    cursor: pointer;
    position: relative;
    pointer-events: none; 
}

.card:before{
    background: linear-gradient(130deg, transparent 0% 45%,#FB62F6 66%);
    content:"";
    background-position: 0% 0%;
    background-size: 300% 300%;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: background-position 400ms;
    width: 100%;
    z-index: 1;
}

.card:hover:before{
   background-position: 100% 100%;
}

.card-content{
    background: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height:calc(100%);
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100%);
    z-index: 2;
}

.card-button{
    background: transparent;
    pointer-events: auto;
    height: 100%;
    width: 100%;
}

.card-title,
.card-subtitle {
    font-weight: 400;
    margin: 0px;
    transition: color 300ms ease;
}

.card-title{
    color: #FB62F6;
    
}
.card-subtitle{
    color:  white;
    
}

.card:hover > .card-content {
    background-position: -10% 0;
}

.card-button:hover > .card-title {
    color:white;
}