<ul class="resumeEntries">
    <li *ngFor="let entry of entries">
        <div class="row" >
            <div class="column">
                <span class="job-title">{{entry.title}},</span>
            </div>
            <div class="column">
                <span class="job-date">{{entry.date}},</span>
            </div>
        </div>
        <div class="row" >
            <div class="column">
                <span class="job-group">{{entry.group}},</span>
            </div>
            <div class="column">
                <span class="job-location">{{entry.location}},</span>
            </div>
        </div>
        <ul class="entryPoints">
            <li *ngFor ="let point of entry.points">
                <span class="job-point">{{point}}</span>
            </li>
        </ul>
    </li>
</ul>
